.users-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.user-item {
  width: 100%;
}
@media (max-width: 768px) {
  .friends-list {
    grid-template-columns: 1fr 1fr;
  }
}
